* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #000;
}

[v-cloak] {
    display: none;
}

.wf-wrap {
    padding: 0 40px;
    margin: 0 auto;
}

.wf-table {
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;
    font-size: 16px;
}

.logo {
    width: 334px;
    min-height: 40px;
    padding: 10px 10px 10px 0;
    line-height: 30px;
    float: left;
}

.logo img {
    height: 34px;
}

.nav {
    float: left;
    width: 846px;
    width: 41px;
    padding: 10px 0;
    vertical-align: middle;
}

.nav ul {
    width: 546px;
    height: 28px;
    padding-top: 10px;
    padding-left: 300px;
}

.nav ul li {
    display: inline-block;
    width: 18%;
    text-align: center;
}

.nav ul li a {
    color: #8d9095;
}

.nav .color {
    color: #e30083;
}

.nav a:hover {
    color: #e30083;
}

.padd {
    min-height: 800px;
    padding: 0 40px;
}

.footer {
    margin-bottom: 20px;
}

.wf-containe {
    width: 1180px;
    margin: 0 auto;
    overflow: hidden;
}

.qfe_wrapper {
    width: 277px;
    height: 125px;
    float: left;
    padding: 0 5px;
}

.qfe-t {
    color: #393939;
    font-size: 15px;
    margin-bottom: 24px;
}

.qfe-txt {
    font-size: 12px;
    line-height: 24px;
    width: 252px;
    color: #A9A9A9;
}

.ml {
    margin-left: 20px;
}

.qfe_wrapper span {
    display: inline-block;
    color: #A9A9A9;
    font-size: 12px;
    margin-left: 20px;
    width: 247px;
}

.qfe-img {
    width: 76px;
    height: 76px;
}

.contentinfo {
    background: #f0f0f0;
    width: 100%;
    min-height: 30px;
    padding: 15px 0 0;
}

.wf-float-center {
    text-align: center;
}

.wf-float-center span {
    color: rgb(128, 128, 128);
    font-size: 12px;
}

.container {
    background: #f0f0f0;
    min-height: 810px;
    position: relative;
}

.qfe_wrappe {
    min-height: 16px;
    width: 100%;
    text-align: center;
    padding: 70px 0 0 0
}

.qfe_wrappe h4 {
    padding: 0 0 0 5px;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
}

.qfe_wrappe p {
    font-size: 12px;
    height: 13px;
    padding: 5px 0 30px 0;
}

.qfe_wrappe span {
    display: inline-block;
    width: 30px;
}

.rs-slide {
    text-align: center;
    margin-bottom: 50px;
}

.rs-slide .swiper-pagination-bullet,
.rsactiveslide .swiper-pagination-bullet {
    background: rgba(0, 0, 0, 0.80);
    width: 6px;
    height: 6px;
}

.rs-slide .swiper-pagination-bullet-active,
.rsactiveslide .swiper-pagination-bullet {
    background: #fff;
    border: 3px solid #ccc;
    transition: all 0.3s;
}

.qfe-element {
    height: 76px;
    text-align: center;
    margin-bottom: 20px;
}

.qfe-element span {
    display: inline-block;
}

.qfy_style_class {
    position: relative;
    left: 0;
    top: 80px;
    width: 1160px;
    height: 85px;
    margin: 0 auto;
    padding: 50px 0;
    padding-left: 70px;
    background: #fff;
}

.header_title {
    border-right: 1px solid rgba(229, 229, 229, 1);
    width: 255px;
    float: left;
    height: 85px;
    z-index: 2;
    text-align: center;
    position: relative;
    top: 0;
    transition: all .5s;
}

.header_title:hover {
    top: -20px;
}

.header_title-span {
    display: block;
    font-size: 42px;
    padding: 0 0 5px 0;
    color: #aaaaaa;
    transition: all .5s;
}

.header_title .tit-col {
    font-size: 14px;
    color: #aaaaaa;
}

.header_title-span:hover {
    color: #e30083;
}

.tit-col:hover {
    color: #e30083;
}

.qfy-row {
    min-height: 160px;
    padding-top: 100px;
    text-align: center;
}

.qfy-row p {
    margin: 0 auto;
    font-size: 50px;
    color: #e5e5e5;
    margin-bottom: 10px;
    font-weight: bold;
    transition: all .5s;
    width: 250px;
}

.qfy-row p:hover {
    color: #e30083;
}

.row-span {
    font-size: 22px;
    color: #333333;
}

.qfy-row-span {
    border-bottom: 1px solid #ededed;

    width: 58px;
    display: inline-block;
    margin-bottom: 8px;
}

.qfe_row {
    width: 1220px;
    height: 350px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 40px;
}

.itembody {
    float: left;
    padding: 50px 40px;
    width: 295px;
    height: 210px;
    border: 1px solid rgba(221, 221, 221, 1);
    margin: 10px;
}

.itembody h4 {
    color: #555555;
    font-size: 16px;
    font-family: 微软雅黑;
    line-height: 22px;
    font-weight: normal;
}

.post-title {
    padding-bottom: 20px;
    font-weight: normal;
    color: #555555;
    line-height: 16px;
    vertical-align: top;
    text-align: left;
    width: 100%;
    border-bottom: 1px solid #ededed;
    ;
}

.post_excerpt {
    color: #adadad;
    font-size: 13px;
    line-height: 24px;
    padding-top: 15px;
    height: 120px;
    padding-bottom: 10px;
}

.vc_read_more a {
    display: inline-block;
    width: 14px;
    height: 20px;
    color: #d1d1d1;
    font-size: 13px;
    text-align: center;
    padding: 5px 8px;
    background-color: transparent;
    border: 1px solid #d8d8d8;
    ;
}

.section-normal {
    overflow: hidden;
    width: 1200px;
    height: 550px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.con-row {
    background-image: url(img/download.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 550px;
    background-position: center;
}

.bg-color {
    width: 299px;
    height: 550px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    transition: all .5s;
    float: left;
}

.bg-color:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.column_containter {
    width: 300px;
    height: 450px;
    z-index: 2;
    padding-top: 100px;
    text-align: center;
    position: relative;
    top: 0;
    transition: all .5s;
}

.column_containter:hover {
    top: -20px;
}

.column-img {
    display: inline-block;
    width: 230px;
    height: 230px;
}

.product {
    width: 100%;
    min-height: 600px;
}

.product-title {
    width: 100%;
    height: 400px;
    background-color: #f0f0f0;
}

.product_top {
    width: 1280px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
}

.rsactiveslide {
    width: 600px;
    height: 400px;
    text-align: center;
    float: left;
}

.rsactiveslide-rigth {
    width: 590px;
    height: 300px;
    float: left;
    padding-top: 100px;
}

.rigth-txt {
    width: 300px;
    min-height: 140px;
    padding-left: 200px;
    margin-bottom: 20px;
}

.rigth-img {
    width: 440px;
    padding-left: 150px;
    height: 70px;
}

.rigth-img img {
    width: 120px;
    height: 60px;
}

.f-content {
    margin-top: 50px;
    width: 100%;
    height: 2300px;
    overflow: hidden;
}

.cleft {
    width: 14%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    background: rgb(141, 144, 149);
    color: #fff;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    padding-left: 5px;
}

.cright {
    float: left;
    width: 60%;
}

.cr {
    width: 100%;
    padding: 25px 30px;
    border: 1px solid rgba(224, 224, 224, 1);
    line-height: 1.5em;
    margin-bottom: 80px;
}

.ct strong {
    font-size: 18px;
    font-weight: 700;
    font-family: 微软雅黑;
    color: #000;
}

.ct span {
    font-size: 12px;
    color: #A9A9A9;
    display: block;
    line-height: 1.5em;
}

.ct {
    border-bottom: 1px dotted #adadad;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.cr h4 {
    font-size: 15px;
    font-weight: normal;
}

.cr h4 {
    margin-top: 25px;
}

.cr p {
    font-size: 14px;
    color: #808080;
}

.cb {
    border-top: 1px dotted #adadad;
    padding: 20px 0 0 0;
    margin-top: 25px;
}

.cb button {
    width: 25%;
    height: 46px;
    font-size: 16px;
    border-width: 1px;
    border-color: rgb(227, 0, 131);
    background-color: rgb(227, 0, 131);
    color: rgb(255, 255, 255);
}

.cr>strong {
    font-family: 微软雅黑;
    font-size: 15px;
    font-weight: 700;
    color: #000;
}

.div5 img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.s {
    transform: scale(0.7);
    border: 2px solid #e30083;
}

.s1 {
    transform: scale(1.2);
}